# --- Python general ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environments ---
env/
venv/

# --- Local files ---
*.db
instance/
*.sqlite3

# --- Secrets ---
.env

# --- Uploads ---
static/uploads/

# --- System files ---
.DS_Store
Thumbs.db

# --- Migration scripts ---
migrate_sqlite_to_postgres.py
create_db.py
app0.py